/* REGION PHONE */
@media (max-height: 405px) {
  #flx-anchor {
    padding-bottom: 2em;
  }
}

/* REGION Tablet Portrait */
@media (min-width: 600px) {
  #logo {
    width: 235px;
  }

  #header-title {
    font-size: 50px;
    line-height: 65px;
  }

  #flx-anchor a {
    width: 20%;
  }

  #defile {
    animation: none;
  }

  .carousel-control.prev {
    left: 2em;
  }
  
  .carousel-control.next {
    right: 2em;
  }

  .content img {
    width: 222px;
    height: 222px;
  }
  
  .content h2 {
    font-size: 22px;
  }
  
  .content p {
    font-size: 18px;
  }

  #informations {
    gap: 3em;
  }
}

/* REGION Tablet Landscape */
@media (min-width: 768px) {
  #header-title {
    font-size: 65px;
    line-height: 85px;
  }

  #flx-anchor a {
    width: 25%;
  }

  #flx-anchor .arrow span {
    width: 1vw;
    height: 1vw;
  }

  #profile-title {
    font-size: 29px;
  }

  .profile-description {
    font-size: 20px;
  }

  #small-portrait {
    height: 348px;
  }
}

/* REGION Desktop */
@media (min-width: 1024px) {
  #logo {
    width: 270px;
  }

  #header-title {
    font-size: 75px;
    line-height: 95px;
  }

  #flx-anchor a {
    width: 15%;
  }

  #profile {
    text-align: left;
  }

  #large-portrait {
    display: block;
    height: 75%;
  }

  #small-portrait {
    display: none;
  }

  #services .carousel-inner {
    width: 100vw;
    transform: none!important;
  }

  .carousel-control {
    display: none;
  }

  .content img {
    width: 222px;
    height: 222px;
  }
  
  .content h2 {
    font-size: 22px;
  }
  
  .content p {
    font-size: 18px;
  }

  .carousel-control {
    display: none;
  }

  .projects-card {
    width: 360px;
  }

  iframe {
    display: block;
  }
}

/* REGION Large Desktop */
@media (min-width: 1496px) {
  #header-title {
    font-size: 85px;
    line-height: 115px;
  }

  .content img {
    width: 292px;
    height: 292px;
  }
  
  .content h2 {
    font-size: 22px;
  }
  
  .content p {
    font-size: 20px;
  }

}

