@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

html { 
  scroll-behavior: smooth; 
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden
}

/* REGION Header */
@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

#flx-header {
  position: relative;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#backgound-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
}

#logo {
  width: 190px;
  align-self: center;
  margin: 1em;
}

#header-title {
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  line-height: 45px;
  margin: 0 0 0 0.75em;
  font-size: 40px;
  margin-top: 1em;
}

#header-title .red {
  color: #DFF500;
}

#flx-anchor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3em;
  margin-top: 2em;
}

#flx-anchor a {
  border-radius: 25px;
  border: 2px solid #DFF500;
  background-color: transparent;
  width: 33%;
  padding: 0.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #DFF500;
  font-weight: 400;
  cursor: pointer;
  transition: all 250ms ease;
}

#flx-anchor a:hover {
  color: white;
  background-color: #DFF500;
}

#flx-anchor .arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flx-anchor .arrow span {
    display: block;
    width: 2vw;
    height: 2vw;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    animation: animate 2s infinite;
}

#flx-anchor .arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

#flx-anchor .arrow span:nth-child(3) {
    animation-delay: -0.4s;
}
/* ENDREGION Header */

/* REGION Sponsor */
@keyframes sponsordefile {
  0% {
    transform: translateX(-175%);
  }

  100% {
    transform: translateX(175%);
  }
}

#sponsor {
  background-color: #DFF500;
  padding: 0.5em 2em;
  overflow-x: hidden;
}

#defile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  animation: sponsordefile 30s infinite linear;
}

#sponsor img {
  height: 52px;
}

#sponsor #google {
  height: 72px;
}

#sponsor #nike {
  height: 62px;
}

#sponsor #samsung {
  height: 72px;
}
/* ENREGION Sponsor */

/* REGION Profile */
#profile {
  min-height: 100dvh;
  display: flex;
  gap: 2em;
  text-align: center;
  margin: 0 7%;
}

#profile-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#profile-content, #large-portrait {
  margin: 10% 0;
}

#profile-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

#large-portrait {
  display: none;
}
/* ENREGION Profile */

/* REGION CARROUSEL */
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills h3 {
  font-weight: 600;
  margin: 0.5em 0;
}

.skills li {
  margin: 0.25em 0;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}
/* ENDREGION CARROUSEL */

/* REGION Services */
#services {
  position: relative;
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  gap: 3%;
  overflow: hidden;
}

#services::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('../../assets/bckg_services.webp');
  background-size: cover;
  background-position-x: 75%;
  filter: brightness(0.25);
  z-index: -1;
}

#services-title {
  align-self: center;
  margin: 2em 0 2em 0;
  color: #DFF500;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

#services .carousel {
  margin-bottom: 10%;
}

#services .carousel-inner {
  width: 400dvw;
}

#services .carousel-item {
  width: 100dvw;
  padding: 0 5%;
}

#services .content {
  color: white;
  justify-content: center;
  align-items: center;
}

#services .content h2 {
  color: #DFF500;
  font-weight: 600;
  margin: 1em 0 0.5em 0;
  text-transform: uppercase;
}

#services .content img {
  width: 150px;
}

#services .carousel-control {
  color: white;
}
/* ENDREGION Services */

/* REGION Projects */
#projects {
  background-color: #F5F7F8;
  position: relative;
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

#projects h1{
  align-self: center;
  margin: 5% 0;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

#projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5% 5% 5%;
  gap: 2em;
}

.projects-card {
  width: 260px;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  transition: all 250ms ease;
}

.projects-card:hover {
  transform: scale(1.05);
}

.projects-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.projects-card h2, .projects-card p {
  margin: 1em;
}

.projects-card h2 {
  font-weight: 600;
  text-transform: uppercase;
}

/* ENDREGION Projects */

/* REGION Contact */
#contact {
  min-height: 100dvh;
  background: linear-gradient(328.05deg, #DFF500 16.71%, #D6E34D 112.48%);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#informations {
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: black;
}

#contact-title, #contact-info, #contact-social {
  margin: 0 7%;
}

#contact-title h1 {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1em;
}

#contact-title h2 {
  font-weight: 400;
  font-size: 18px;
}

#contact-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#contact-phone, #contact-mail, #contact-location {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin: 1em 0;
}

.contact-link {
  color: black;
  text-decoration: none;
}

#contact-social {
  display: flex;
  gap: 1.5em;
}

iframe {
  display: none;
  align-self: center;
  border: none;
  border-radius: 10px;
  width: 600px;
  height: 450px;
}
/* ENDREGION Contact */

footer {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #323537;
}

footer img {
  width: 190px;
  margin: 2em 7%;
}

footer p {
  margin: 0 2em 7%;
  font-size: 12px;
  color: white;
}
